<%= link_to "あるもの登録", '#', class: "btn btn-info" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>あるもの</th>
      <th>期限</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.limit %></td>
      <td><%= link_to '編集', '#', class: "btn btn-info" %></td>
      <td><%= link_to '削除', '#', method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>