<%= link_to "あるもの登録", new_food_path, class: "btn btn-info" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>あるもの</th>
      <th>数量</th>
      <th>期限</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.amount %><%= Unit.find(food.unit_id).name %></td>
      <td><%= food.limit %></td>
      <td><%= link_to '編集', edit_food_path(food), class: "btn btn-info" %></td>
      <td><%= link_to '削除', food, method: :delete, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>